@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'FiraCode', monospace;
	src: url(fonts/FiraCode.ttf);
}

@font-face {
	font-family: 'ProximaNova';
	src: url(fonts/ProximaNova.otf);
}

.font-proxima {
	font-family: 'ProximaNova';
}

.font-koulen {
	font-family: 'Koulen', cursive;
}

.font-fira {
	font-family: 'FiraCode', monospace;
}

h1 {
	@apply text-9xl;
}

.bg-circles {
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23FFFFFF' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.rectangle-shape {
	@apply rounded;
	@apply shadow-lg;
	@apply duration-300;
	@apply transition;
	@apply ease-out;
	@apply hover:shadow-lg;
	@apply bg-opacity-80;
	@apply backdrop-blur-md;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-bold;
}

h1 {
	@apply text-7xl;
	@apply sm:text-9xl;
	@apply font-extrabold;
	@apply text-base-300
}

h2 {
	@apply text-6xl;
	@apply sm:text-8xl;
	@apply text-base-content;
}

h3 {
	@apply text-5xl;
}

h4 {
	@apply text-4xl;
}

h5 {
	@apply text-lg;
}